<div class="input">
  <label for="listing_price">Price</label>
  <input type="text" name="listing[price]" value="<%= @listing.price %>">
  $ per night
</div>

<div class="input">
<label>Room Type:</label>
</div>
  <% Listing::ROOM_TYPES.each do |type| %>
    <label><%= type[1] %>
      <input type="radio" name="listing[room_type]" value="<%= type[0] %>"
      <%= @listing.room_type == type[0] ? "checked" : "" %>>
    </label>
  <% end %>

<div class="input">
<label for="listing_guests">Accomodates</label>
  <select name="listing[guests]" id="listing_guests">
    <% (1..20).each do |num| %>
      <option value="<%= num %>"
        <%= num == @listing.guests ? "selected" : "" %>>
        <%= num %>
      </option>
    <% end %>
  </select>
  guest(s)
  
</div>

<div class="input">
  <label for="listing_bedrooms">Bedrooms</label>
    <select name="listing[bedrooms]" id="listing_bedrooms">
      <% (1..10).each do |num| %>
        <option value="<%= num %>"
          <%= num == @listing.bedrooms ? "selected" : "" %>>
          <%= num %>
        </option>
      <% end %>
    </select>
  </label>
</div>

<div class="input">
<label for="listing_bathrooms">Bathrooms</label>
  <select name="listing[bathrooms]" id="listing_bathrooms">
    <% (1..10).each do |num| %>
      <option value="<%= num %>"
        <%= num == @listing.bedrooms ? "selected" : "" %>>
        <%= num %>
      </option>
    <% end %>
  </select>
</div>

<div class="input">
  <label for="listing_city">City</label>
  <select name="listing[city]" id="listing_city">
    <option value="New York"
      <%= @listing.city == "New York" ? "selected" : "" %>>
      New York
    </option>
    <option value="Rome" 
      <%= @listing.city == "Rome" ? "selected" : "" %>>
      Rome
    </option>
  </select>
</div>

<div class="input">
  <label for="listing_neighborhood">Neighborhood</label>
  <input type="text" name="listing[neighborhood]" value="<%= @listing.neighborhood %>" id="listing_neighborhood">
</div>

<div class="input">
  <label for="listing_address">Street Address</label>
    <input type="text" name="listing[address]" value="<%= @listing.address %>" id="listing_address">

</div>

<div class="input">
  <label for="listing_zip">Zip Code</label>
  <input type="text" name="listing[zip]" value="<%= @listing.zip %>" id="listing_zip">
</div>