<%= render "listing_nav" %>
<%= flash[:success] %>

<h1>Edit Your Listing</h1>
<%= render "shared/errors" %>

<section><%= button_to "delete listing", listing_url(@listing), method: :delete %>
  <a href="<%= listing_url(@listing) %>">Cancel</a>
</section>

<section class="edit-form">
<form action="<%= listing_url(@listing) %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="PUT">
  
  <label>Description:
    <br>
    <textarea name="listing[description]" rows="8" cols="40"><%= @listing.description %></textarea>
  </label>
  <br>
  
  <%= render "form" %>
  
  <label>Available Dates</label>
  <br>
  <% @listing.date_ranges.each do |range| %>
  
  <label>Start date
    <input type="date" name="date_range_attributes[<%= range.object_id %>][start_date]" 
    value="<%= range.start_date %>">
  </label>
  <label>End date
    <input type="date" name="date_range_attributes[<%= range.object_id %>][end_date]" 
    value="<%= range.end_date %>">
  </label>
  <input type="hidden" name="date_range_attributes[<%= range.object_id %>][id]" value="<%= range.id %>">
  <br>
  <% end %>
  <br>
  
  <input type="submit" value="Submit" id="listing-create-btn">
</form>
</section>
