<%= render "listing_nav" %>

<h1>Edit Your Listing</h1>
<%= render "shared/errors" %>
<section class="content-bar">
  <div class="large-photo interior-content group">
    <%= image_tag @listing.primary_photo_file.try(:url, :large) %>
    <a href="<%= listing_photos_url(@listing) %>" class="btn">Add/remove photos</a>
  </div>
  
  <div class="interior-content">
    <ul class="group">
      <li class="float"><%= button_to "delete listing", listing_url(@listing), method: :delete, class: "btn delete" %>
      <li class="float"><a href="<%= listing_url(@listing) %>">Cancel</a></li>
  </div>
 
</section>

<section class="content-bar">
<form action="<%= listing_url(@listing) %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="PUT">
  
  <div class="input">
  <label for="listing_title">Title:</label>
    <input type="text" name="listing[title]" value="<%= @listing.title %>" id="listing_title">
  </div>
  
  <div class="input">
  <label for="listing_description">Description:</label>
    <textarea name="listing[description]" rows="8" cols="40" id="listing_description"><%= @listing.description %></textarea>
  </div>
  
  <h3>Available Dates</h3>
  
  <% @listing.date_ranges.each_with_index do |range, idx| %>
  
  <div class="dates">
    <label for="<%= idx %>_start_date">Start date</label>
    <input type="text" name="date_range_attributes[<%= idx %>][start_date]" 
      value="<%= range.start_date %>" class="start_date" id="<%= idx %>_start_date">
    <label for="<%= idx %>_end_date">End date</label>
    <input type="text" name="date_range_attributes[<%= idx %>][end_date]" 
      value="<%= range.end_date %>" class="end_date" id="<%= range.object_id %>_end_date">
    <input type="hidden" name="date_range_attributes[<%= idx %>][id]" value="<%= range.id %>">
  </div>
  <% end %>
  <br>
  
  <%= render "form" %>

  <div class="input">
    <input type="submit" value="Submit" class="btn">
  </div>
</form>
</section>
