<section class="search-form">
  <%= render "shared/search_form" %>
</section>

<section class="wide-list group">
<div class="map-container group">
<div id='map'></div>
</div>
<section class="search-results">
  <% if @listings.empty? %>
    <p>Your search returned no results, please try different search parameters</p>
  <% else %>
  <ul class="group">
    <% @listings.each do |listing| %>
    <li>
      <a href="<%= listing_url(id: listing, search: params[:search])%>" data-id="<%= listing.id %>" class="listing group">
        <div class="med-photo">
          <%= image_tag listing.primary_photo_file.try(:url, :medium) %>
        </div>
        <h3><%= listing.title %></h3>
        <ul>
          <li><%= listing.neighborhood %></li>
          <li>$<%= listing.price %> per night</li>
        </ul>
      </a>
    </li>
    <% end %>
  </ul>
  <%= paginate @listings %>
  <% end %>
</section>
</section>
<script>

$(document).ready(function(){
  var geojson = <%= (render partial: 'listings/geolisting.json.jbuilder', locals: {listings: @listings }).html_safe %>
  var center = geojson[0]["geometry"]["coordinates"]


  L.mapbox.map('map', 'examples.map-9ijuk24y')
    .setView([center[1], center[0]], 12)
    .featureLayer.setGeoJSON(geojson);
})
  
</script>

