<section class="search-form">
  <%= render "shared/search_form" %>
</section>

<section class="wide-list group">
<div class="map-container">
<div id='map'></div>
</div>
<%= paginate @listings %>
<section class="search-results">
  <% if @listings.empty? %>
    <p>Your search returned no results, please try different search parameters</p>
  <% else %>
  <ul class="group">
    <% @listings.each do |listing| %>
    <li>
      <a href="<%= listing_url(id: listing, search: params[:search])%>" data-id="<%= listing.id %>" class="listing group">
        <div class="med-photo">
          <%= image_tag listing.primary_photo_file.try(:url, :medium) %>
        </div>
        <h3><%= listing.title %></h3>
        <ul>
          <li><%= listing.neighborhood %></li>
          <li>$<%= listing.price %> per night</li>
        </ul>
      </a>
    </li>
    <% end %>
  </ul>
  <% end %>
  <%= paginate @listings %>
</section>

</section>

<script>

var geojson = <%= (render partial: 'listings/geolisting.json.jbuilder', locals: {listings: @listings }).html_safe %>

$(document).ready(function(){


  var map = L.mapbox.map('map', 'examples.map-9ijuk24y').setView([40.67, -73.94], 4);
  var featureLayer = map.featureLayer
  map.featureLayer.setGeoJSON(geojson);
  map.fitBounds(featureLayer.getBounds());
  
  map.featureLayer.eachLayer(
    function(marker){
      var listingID = marker.feature.properties["marker-id"];
      $("a[data-id=" + listingID + "]").hover(function(){
        map.panTo(marker.getLatLng());
        marker.openPopup()
      })
    }    
  )


    // function resetColors() {
    //     for (var i = 0; i < geojson.length; i++) {
    //         geojson[i].properties['marker-color'] = geojson[i].properties['old-color'] ||
    //             geojson[i].properties['marker-color'];
    //     }
    //     map.featureLayer.setGeoJSON(geojson);
    // }
    
    // 
    // map.featureLayer.on('click',function(e) {
    //     resetColors();
    //     e.layer.feature.properties['old-color'] = e.layer.feature.properties['marker-color'];
    //     e.layer.feature.properties['marker-color'] = '#FF7373';
    //     map.featureLayer.setGeoJSON(geojson);
    // });
    // 
    // map.on('click', resetColors);


})
  
</script>

