<section class="search-form">
  <%= render "shared/search_form" %>
</section>
<section class="search-results group">
  <% if @listings.empty? %>
    <p>Your search returned no results, please try different search parameters</p>
  <% else %>
  <ul class="group">
    <% @listings.each do |listing| %>
    <li>
      <a href="<%= listing_url(id: listing, search: params[:search])%>" data-id="<%= listing.id %>" class="listing group">
        <div class="med-photo">
          <%= image_tag listing.primary_photo_file.try(:url, :medium) %>
        </div>
        <h3><%= listing.title %></h3>
        <ul>
          <li><%= listing.neighborhood %></li>
          <li>$<%= listing.price %> per night</li>
        </ul>
      </a>
    </li>
    <% end %>
  </ul>
  <%= paginate @listings %>
  <% end %>
</section>
