<h1>List Your Space</h1>
<%= render "shared/errors" %>

<section class="content-bar">
<form action="<%= listings_url %>" method="POST">
  <%= auth_token %>
  
  <div class="input">
  <label for="listing_title">Title:</label>
    <input type="text" name="listing[title]" value="<%= @listing.title %>" id="listing_title">
  </div>
  
  <%= render "form" %>
  
  <div class="input">
    <label>When is your space available?</label>
  </div>

  <% @listing.date_ranges.each do |range| %>
  <label>Start date
    <input type="date" name="date_range_attributes[<%= range.object_id %>][start_date]" 
    value="<%= range.start_date %>">
  </label>
  
  <label>End date
    <input type="date" name="date_range_attributes[<%= range.object_id %>][end_date]" 
    value="<%= range.end_date %>">
  </label>
  <br>
  
  <% end %>
  <br>
  
  <div class="input">
  <input type="submit" value="Submit" class="btn">
  </div>
</form>
</section>