<h1>List Your Space</h1>
<%= render "shared/errors" %>

<form action="<%= listings_url %>" method="POST">
  <%= auth_token %>
  
  <label>Title:
    <input type="text" name="listing[title]" value="<%= @listing.title %>">
  </label>
  <br>
  
  <%= render "form" %>
  
  <label>When is your space available?</label>
  <br>
  <% @listing.date_ranges.each do |range| %>
  <label>Start date
    <input type="date" name="date_range_attributes[<%= range.object_id %>][start_date]" 
    value="<%= range.start_date %>">
  </label>
  <label>End date
    <input type="date" name="date_range_attributes[<%= range.object_id %>][end_date]" 
    value="<%= range.end_date %>">
  </label>
  <br>
  
  <% end %>
  <br>
  
  <input type="submit" value="Submit" id="listing-create-btn">
</form>