<%= render "listings/listing_nav" %>

<section class="content-bar">
  
  <div class="interior-content">
    <div class="large-photo group" id="carrousel">
      <ul>
        <% @photos.each do |photo| %>
          <li><%= image_tag photo.photo_file.try(:url, :large) %></li>
        <% end %>
      </ul>  
    </div>
    
    <div id="carrousel-nav">
      <span class="previous">Previous</span> &mdash;
      <strong class="number">0 / 0</strong> &mdash;
      <span class="next">Next</span>
    </div>
  </div>
  
  <section class="interior-content group">
    
    <article class="float" id="description">
      <h3>Description:</h3>
      <p><%= @listing.description %></p>
    </article>
    
      <table class="float divider">
        
        <tr>
          <td>Room type:</td>
          <td><%= Listing::ROOM_TYPES[@listing.room_type] %></td>
        </tr>
        
        <tr>
          <td>Accomodates:</td>
          <td><%= @listing.guests %> guests</td>
        </tr>
        
        <tr>
          <td>Bedrooms:</td>
          <td><%= @listing.bedrooms %></td>
        </tr>

        <tr>
          <td>Bathrooms:</td>
          <td><%= @listing.bathrooms %></td>
        </tr>

        <tr>
          <td>City:</td>
          <td><%= @listing.city %></td>
        </tr>
        
        <tr>
          <td>Neighborhood:</td>
          <td><%= @listing.neighborhood %></td>
        </tr>
      </table>
  </section>
    
</section>

<section class="content-bar">
  
  <%= render "shared/errors" %>
  
  <form action="<%= listing_bookings_url(@listing) %>" method="POST" class="interior-content">
    <%= auth_token %>
    
    <div>
      <h3>$<span id="listing-price"><%= @listing.price %></span> per night</h3>
      <div class="input">
        <label for="booking_start_date">Check in</label>
        <input type="date" name="booking[start_date]" value="<%= @booking.start_date %>" id="booking_start_date" class="start_date">
      </div>
      
      <div class="input">
        <label for="booking_end_date">Check out</label>
        <input type="date" name="booking[end_date]" value="<%= @booking.end_date %>" id="booking_end_date" class="end_date">
      </div>
     
      <div class="input">
        <label for="booking_guest_num">Guests</label>
        <input type="number" min="1" max="20" name="booking[guest_num]" value="<%= @booking.guest_num %>" id="booking_guest_num">
      </div>     
      
    </div>
    
    <div class="top-divider">
      <h3>Subtotal</h3>
    
      <p>$<span id="subtotal"><%= @booking.subtotal ||= 0 %></span></p>
    
      <input type="submit" value="Book it!" class="btn">
    </div>
    
  </form>
  
  <article class="interior-content">
    
    <div class="med-photo">
      <%= image_tag @listing.user.profile_pic.try(:url, :medium) %>
    </div>
    
    <h3 class="center">Host: <%= @listing.user.full_name %></h3>
    
  </article>
</section>

<script type="application/javascript">
  $(document).ready(function(){
    Carrousel.init();
  });
</script>