<div class="group">  
  <div class="caption float">
    <div class="small-photo">
      <%= image_tag booking.guest.profile_pic.try(:url, :small) %>
    </div>
    <p><%= booking.guest.fname %><br>
      <%= booking.guest.lname %></p>
  </div>
  
  <div class="details group float">
    
    <ul>
    
    <li><%= "#{booking.start_date.month}/#{booking.start_date.day}/#{booking.start_date.year}  -  #{booking.end_date.month}/#{booking.end_date.day}/#{booking.end_date.year}" %></li>
    
    <li> Guests: <%= booking.guest_num %></li>
    
    <li> Total<%= " Paid" if booking.status == 1 %>: $<%= booking.subtotal %></li>
    
  </ul>
    
  </div>
  
    <ul class="listing-buttons group">
    <% if booking.status == 0 %>
    
      <li><a class="btn accept" data-id="<%= booking.id %>" href="<%= accept_booking_url(booking) %>">Accept</a></li>
      <li><a class="btn delete" data-id="<%= booking.id %>" href="<%= decline_booking_url(booking) %>">Decline</a></li>
      
    <% else %>
    
      <li><a class="btn delete cancel-btn" href="<%= cancel_booking_url(booking) %>" data-remote="true">Cancel booking</a></li>
      
    <% end %>
   </ul>
 </div>  
   <% if booking.status ==0 && booking.overlapping_bookings.any? %>
   <div class="group">
        <p>This booking overlaps with another pending booking for your listing. Please note that you may only approve one of any overlapping bookings</p>
    </div>   
   <% end %>

