  <div class="float">
    <div class="small-photo">
      <%= image_tag booking.guest.profile_pic.try(:url, :small) %>
    </div>
    <p><%= booking.guest.full_name %></p>
  </div>
  
  <div class="details group float">
    
    <ul>
    
    <li><%= "#{booking.start_date.month}/#{booking.start_date.day}/#{booking.start_date.year}  -  #{booking.end_date.month}/#{booking.end_date.day}/#{booking.end_date.year}" %></li>
    
    <li> Guests: <%= booking.guest_num %></li>
    
    <li> Total<%= " Paid" if booking.status == 1 %>: $<%= booking.subtotal %></li>
    
    <% if booking.status ==0 && booking.overlapping_bookings.any? %>
    
      <li></li>
      
    <% end %>
    
  </ul>
    
  </div>
  
  <div class="buttons group">
    <ul class="group">
    <% if booking.status == 0 %>
    
      <li class="float"><a href="<%= accept_booking_url(booking) %>">Accept</a></li>
      <li class="float"><a href="<%= decline_booking_url(booking) %>">Decline</a></li>
      
    <% else %>
    
      <li><a href="<%= cancel_booking_url(booking) %>">Cancel booking</a></li>
      
    <% end %>
   </ul>
   <p>This booking overlaps with another pending booking for your listing. Please note that you may only approve one of any overlapping bookings</p>
  </div>

