<h1>Manage Your Listing</h1>

<header class="header-wrap group">
  <h2><a href="<%= listing_url(@listing) %>"><%= @listing.title %></a></h2>
  <ul class="buttons group">
    <li><a href="<%= edit_listing_url(@listing) %>" class= "btn delete">Edit Listing</a></li>
    <li class="group"><%= button_to "delete listing", listing_url(@listing), method: :delete, class: "btn delete" %></li>
  </ul>
  
  <%= flash[:success] %>
  
</header>

<section class="content-bar group">
  
  <article class="pending group">
    
    <h3>Pending Bookings</h3>
    
    <% unless @pending_bookings.any? %>
      <p>You have no pending bookings</p>
    <% else %>
    
      <% @pending_bookings.each do |booking| %>
      
        <%= render "details", booking: booking %>
        
      <% end %>
      
    <% end %>
  </article>
  <article class="confirmed top-divider">
    
    <h3>Confirmed Bookings</h3>
    
    <% unless @confirmed_bookings.any? %>
      <p>You have no confirmed bookings</p>
    <% else %>
      <% @confirmed_bookings.each do |booking| %>
      
        <%= render "details", booking: booking %>
        
      <% end %>
      
    <% end %>
  </article>
</section>
