<h1>Your Trips</h1>
<section class="content-bar">
  <a href="<%= root_url %>" class="btn">Book a new trip</a>
  <ul class="rep-content" id="trip-list">
    <% unless @bookings.present? %>
      <li>You have no trips</li>  
  <% else %>
  
  <% @bookings.each do |booking| %>
    <li class="group">
      
      <h3><a href="<%= listing_url(booking.listing) %>"><%= booking.listing.title %></a></h3>
      
      <div class="float">
        <p><%= booking.listing.city %><p>
        <p><%= "#{booking.start_date.month}/#{booking.start_date.day}  -  #{booking.end_date.month}/#{booking.end_date.day} " %></p>
      </div>
      
      <div class="float">
        <p>
      <% if booking.cancelled %>    
        Status:<strong class="error"> cancelled</strong>
      <% else %>
        Status: <strong class="status"><%= Booking::STATUS[booking.status] %></strong>
      <% unless booking.status == 2 %>
      <div class="input float">
          <a href="<%= cancel_booking_url(booking) %>" data-remote="true" class="btn delete">Cancel booking</a>
        </div>
      </p>
        <% end %>
        
      <% end %>
  </li>
  <% end %>
  </article>
<% end %>
</section>