<%= render "shared/errors" %>
<h1>Sign up</h1>
<section>
<form action="<%= users_url %>" method="POST" class="user-form">
  <%= auth_token %>
  
  <label for="user_fname">First name</label>
  <input type="text" name="user[fname]" value="<%= @user.fname %>" id="user_fname">
  <br>
  
  <label for="user_lname">Last name</label>
  <input type="text" name="user[lname]" value="<%= @user.lname %>" id="user_lname">
  <br>
  
  <label for="email">Email</label>
  <input type="text" name="user[email]" value="<%= @user.email %>" id="user_email">
  <br>
  
  <label for="user_password">Password</label>
  <input type="password" name="user[password]" value="" id="user_password">
  <br>
  
  <label for="user_confirmation">Confirm Password</label>
  <input type="password" name="user[password_confirmation]" value="" id="user_confirmation">        
  <br>
  
  <input type="submit" value="Sign up" id="sign-up-btn">
  
</form>
</section>

<section>
  <p>Already a member?</p>
  <a href="<%= new_session_url %>">Sign in</a>
</section>