<%= render "shared/errors" %>
<h1>Sign up</h1>
<section class="content-bar">
<form action="<%= users_url %>" method="POST" class="user-form">
   <%= render "form" %>
   <div class="input">
     <input type="submit" value="Sign up" class="btn">
  </div>
</form>
</section>

<section class="content-bar">
  <form action="<%= session_url %>" method="POST">
      <%= auth_token %>
      <input type="hidden" name="user[email]" value="demo@example.com">
      <input type="hidden" name="user[password]" value="password">
      <div class="input">
        <input type="submit" value="Sign in with Sample Acccount" class="btn">
      </div>
    </form>
    <a href="/auth/facebook" id="fb-button"><%= image_tag "facebook-login-button.png" %>Sign in with Facebook</a>
  <p>Already a member?</p>
  <a href="<%= new_session_url %>">Sign in</a>
</section>