<header class="header main-nav group">
  <div class ="header-wrap group">
    <h2 id="logo"><a href="<%= root_url %>">sharebnb</a></h2>
    
    <nav>      
      <ul class="right group">
        <% if current_user %>
        <li><a><%= current_user.full_name %></a>
          <ul class="drop-down">
            <li><a href="<%= user_trips_url(current_user) %>">Your Trips</a></li>
            <li><a href="<%= edit_user_url(current_user) %>">Edit Profile</a></li>
            <li class="list"><%= button_to "Logout", session_url, method: "delete", class: "btn" %></li>
          </ul>
        </li>
        <li><a href="<%= notifications_url %>">Notifications <%= unread_badge %></a>
        </li>
        <% else %>
        <li><a href="<%= new_user_url %>">Sign up</a></li>
        <li><a href="<%= new_session_url %>">Sign in</a></li>
        <% end %>
        <% if current_user && current_user.listing %>
          <li><a href="<%= listing_bookings_url(current_user.listing) %>">Your Listing</a></li>
        <% else %>
          <li><a href="<%= new_listing_url %>">List Your Space</a></li>       
        <% end %>
      </ul>
    </nav>
  </div>
</header>