<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    
  </head>
  <body style="color: #505859;font-family: sans-serif;font-size: 16;">
    <a id="logo" href="&lt;%= root_url %&gt;" style="color: #009bf5;text-decoration: none;font-weight: bold;font-style: italic;font-size: 18;">sharebnb</a>
    <h1 style="font-size: 20;">Hi <%= @user.full_name %></h1>
    <p>
      <%= @full_message %>
    </p>
    <a href="&lt;%= @url_msg[1] %&gt;" style="color: #009bf5;text-decoration: none;">
      <%= @url_msg[0] %>
    </a>
    <% if @accept_url_msg %>
      <a class="btn" href="&lt;%= @accept_url_msg[1] %&gt;" style="color: white;text-decoration: none;display: inline-block;box-sizing: content-box;vertical-align: baseline;font-size: 14px;padding: 5px 10px;background: #009bf5;border: 2px solid lightgray;border-radius: 7px;cursor: pointer;text-align: center;"><%= @accept_url_msg[0] %></a>
      <a class="btn delete" href="&lt;%= @decline_url_msg[1] %&gt;" style="color: white;text-decoration: none;display: inline-block;box-sizing: content-box;vertical-align: baseline;font-size: 14px;padding: 5px 10px;background: #FF7373;border: 2px solid lightgray;border-radius: 7px;cursor: pointer;text-align: center;"><%= @decline_url_msg[0] %></a>
    <% end %>
  </body>
</html>