<!DOCTYPE html>
<html>
<head>
  <title>Sharebnb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
</head>
<body>
<%= debug(params) if Rails.env.development? %>
<%= session if Rails.env.development? %>
<%= render "shared/main_nav"%>
<section class="content group">
<header class="flash success">
<%= flash[:success] %>
</header>
<%= yield %>
</section>
</body>
</html>
